.image{
    height: 250px;
    width: 200px;
    border: 1px solid black;
}
.dev{
    display: flex;
    margin-left: 120px;  
}
.singledev{
    margin: 10px;
}
.Waitlist{
   background-color:black;
   color: aliceblue;
   padding: 10px;
   padding-inline: 65px;
   margin: 20px;
   border-radius: 9px;
}
button:hover{
    background-color:gray;
}
.name{
    font-family: "Lucida Console", monospace;
    color:#f25c5c;
    font-size: 18px;
    margin: 0%;
}
.designation{
    font-family: "Lucida Console", monospace;
    font-size: 14px;
    margin-top: 0px;
}