
.icons{
    display: flex;
    margin-left: 320px;
    margin-top: 40px;
}
.lang{
    margin: 10px;
    font-family: "Lucida Console", monospace;
    margin-top: 0%;
    
}
.pic{
    height: 100px;
}

